.buttonGeral{
    border-radius: 5px;
    border: solid 5px lightslategray;
    font-weight: bold;
    font-family: finger paint;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: lightslategray;
    background-color: #ccc;
}
.imagem{
    width: 21rem;
}
.texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    height: 900px;
    background-color: #333;
    padding: 10px;
    overflow: auto;
    border: solid 3px lightgreen;
}
.paragrafo1{
    text-align: justify;
    width: 400px;
}
.scrollButton {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: blueviolet;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
